/* Color Variables */

:root {
    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --veryDarkBlueMBG: hsl(217, 54%, 11%); /* (main BG) */
    --veryDarkBlueCBG: hsl(216, 50%, 16%); /* (card BG) */
    --veryDarkBlueLine: hsl(215, 32%, 27%); /* (line) */
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--veryDarkBlueMBG);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

.main {
    background-color: var(--veryDarkBlueCBG);
    width: 327px;
    height: 543px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.main_img {
    width: 280px;
    height: 280px;
    position: relative;
    top: 25px;
    left: 25px;
    border-radius: 8px;
    margin-bottom: 45px;
}

.overlay_container {
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 280px;
    border-radius: 8px;
}


.main_img_overlay:hover {
    background-color: var(--cyan);
    opacity: 0.5;
    cursor: pointer;
}

.overlay_container:hover, .overlay_icon:hover {
    opacity: 1;
    cursor: pointer;
}

.main_img_overlay {
    opacity: 0;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 280px;
    border-radius: 8px;
    background-color: var(--cyan);
}

.overlay_icon {
    position: absolute;
    top: 48%;
    left: 51%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.overlay_icon:hover, .overlay_container {
    cursor: pointer;
}


.text {
    padding-left: 25px;
    padding-right: 25px;
}

.nft_name {
    color: var(--white);
    font-weight: 600;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 10px;
    position: relative;
    top: -2px;
}

.nft_name:hover {
    color: var(--cyan);
    cursor: pointer;
}

.nft_description {
    color: var(--softBlue);
    font-weight: 300;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 14px;
    width: 102%;
    font-size: 16px;
}

.info {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 11px;
}

.value {
    color: var(--cyan);
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    left: 7px;
    top: -2px;
    font-weight: 700;
    font-size: 15px;
}

.nft_icon {
    position: relative;
    left: -6px;
    top: 5px;
}

.time {
    color: var(--softBlue);
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    position: relative;
    top: -2px;
}

.time_icon {
    position: relative;
    top: 4px;
    left: -6px;
}

.line_divider {
    border-top: 1px solid var(--veryDarkBlueLine);
    display: inline-block;
    width: 277px;
    height: 1px;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 15px;
} 

.footer {
    display: flex;
    justify-content: center;
}

.avatar {
    width: 33px;
    height: 33px;
    border: 1px solid var(--white);
    border-radius: 50%;
    position: relative;
    left: -36px;
    top: -3px;
}

.author {
    margin-top: 0;
    color: var(--softBlue);
    font-weight: 300;
    font-size: 15.5px;
    position: relative;
    left: -20px;
    top: 2px
}

.author_name {
    color: var(--white);
}

.author_name:hover {
    color: var(--cyan);
    cursor: pointer;
}